
.char {
  font-size: small;
  white-space: pre-line;
}

.bar {
  background: #EBEBEB;
  height: 7px;
  position: relative;
}

.pointer {
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.complete-bar {
  display: flex;
  flex-direction: row;
}

.measurement {
  display: flex;
  justify-content: space-between;
  width: 212px;
  font-size: x-small;
}

.full-char {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}