.rating-header {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}
 .breakdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: small;
  margin-right: 0;
  width: 80%;
  padding-bottom: 10px;
 }

.rating {
  padding-right: 10px;
  margin: 0;
  font-size: xxx-large;
}
.recommend {
  padding: 10px;
}

.total-breakdown {
  display: flex;
  flex-direction: column;
  width: 200%;
}