.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.review-list{

  padding-left: 25px;
  border-left: 1px solid black;
}

.ratings {
  width: 500px;
  padding-right: 50px;
}

.ratings-reviews {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
}