.review-modal {
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 2;
}

.review-wrapper > * {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
  background-color:white;
}

.review-form  > * {
  margin:1ch;
  display: flex;
  justify-content: space-between;
  padding:1ch;
  font-size: larger;
}

.submit-button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom:3ch;
}

.rec {
  margin: 0;
  padding-left: 20px;
}

.recommend-options {
  font-size: medium;
  margin: 0 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.radio-recommend {
  display: flex;
  padding: 5px;
}

.radio-rating {
  display: flex;
  margin: 0;
  justify-content: left;
}

.radio-char {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;

}

.char {
  display: flex;
  flex-direction: column;
}
/* .description {
  padding: 0;
  padding: 20px;
  margin: 0;
} */